.container {
  display: flex;
  width: 20rem;
  border: 3px solid black;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
