.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  opacity: 0.7;
  justify-content: flex-end;
  gap: 0.3rem;
}

.header button {
  border: none;
  background: #e6e6e6;
  padding: 0.2rem;
  border-radius: 4px;
  transition: text-decoration 0.3s ease;
}

.header button:hover {
  text-decoration: underline;
}
