.item {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
}

.text {
  flex: 1;
}

.circularCheckbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
}

.circularCheckbox:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
