.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 2rem 1rem;
}

.headings {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.counter {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 100%;
}

.counter:hover {
  background-color: #e0e0e0;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}